.small {
  width: 40px;
  height: 18px;
  border-radius: 2px;
}

.medium {
  width: 60px;
  height: 24px;
  border-radius: 2px;
}

.small:hover img,
.medium:hover img,
.large:hover img{
  opacity: 100;
}

.image {
  width: 10px !important;
  margin-left: 47px;
  margin-bottom: 2px;
  opacity: 0;
}

.large {
  width: 90px;
  height: 24px;
  border-radius: 2px;
}

.violet {
  background-color: #eee1fd;
}

.green {
  background-color: #baf8cf;
}

.red {
  background-color: #fed6cc;
}

.orange {
  background-color: #ffdcb6;
}

.blue {
  background-color: #b8e6ff;
}

.light_green {
  background-color: #d8fcb0;
}

.dark_blue {
  background-color: #c6d9ff;
}

.yellow {
  background-color: #fff4c7;
}